{% extends "base.html" %}
{% block content %}
  <h2>{{ post.title }}</h2>
  <p><small>작성자: {{ post.author.username }} | {{ post.created_at|date:"Y-m-d H:i" }}</small></p>
  <div>{{ post.content|linebreaks }}</div>
  {% if request.user == post.author %}
    <a href="{% url 'conspiracy:edit' post.pk %}">수정</a>
    <form method="post" action="{% url 'conspiracy:delete' post.pk %}" style="display:inline;">
      {% csrf_token %}<button type="submit">삭제</button>
    </form>
  {% endif %}
  <a href="{% url 'conspiracy:list' %}">목록으로</a>
{% endblock %}
